@()
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>权限认证</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/assets/lib/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="/assets/stylesheets/welcome.css">
    </head>

    <body style="width: 100%">

        <div class="layui-container" style="margin: 50px auto; text-align: center;" id="div1">
            <h1><span style="line-height: 200px;">对不起，您没有操作权限！</span></h1>
        </div>

    </body>

</html>