@()(implicit request: RequestHeader)
    @import helper._
    @layout("小型超市管理系统登录") {
        <body class="login-bg">
            <div class="login">
                <div class="message">小型超市管理系统</div>
                <div id="darkbannerwrap"></div>

                <form method="post" class="layui-form" action="@routes.ApplicationController.checklogin()" >
                    <input name="username" placeholder="用户名" type="text" lay-verify="required" class="layui-input" >
                    <hr class="hr15">
                    <input name="password" lay-verify="required" placeholder="密码" type="password" class="layui-input">
                    <hr class="hr15">
                    @CSRF.formField
                    <input class="loginin" value="登录" lay-submit lay-filter="login" style="width: 100%;" type="submit">
                    <hr class="hr20" >
                    <div style="text-align: center">
                    </div>
                </form>
                <br>
                <br>
                <br>
                <p style="text-align: center">
                @@Designed by dulei
                </p>
            </div>
        </body>
    }