@()
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>layui</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/assets/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="/assets/stylesheets/welcome.css">
    </head>

    <body>

        <div class="layui-container" style="margin: 50px auto; text-align: center;" id="div1">
            <h1><span style="line-height: 200px;">欢迎使用小型超市管理系统</span></h1>
        </div>
        <div id="div2">
            <ul>
                <li><div class="box"></div></li>
                <li style="margin-left: 100px;"><div class="box"></div></li>
            </ul>
        </div>


    </body>

</html>