@import helper._
@(title: String)(implicit request: RequestHeader)
@layout(title) {
    <body class="layui-container" style="width: 80%;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>促销策略</legend>
        </fieldset>

            <!--页面主体开始-->
        <div>
            <form class="layui-form  layui-form-pane">
                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">商品查询</label>
                    <div class="layui-input-block">
                        <div class="layui-input-inline" style="width: 350px;" >
                            <input class="layui-input" id="searchValue" name="searchValue" type="text" placeholder="条形码、商品名" value="" />
                        </div>

                        <a id="searchButton" class="layui-btn" >查询</a>
                        <a id="add" class="layui-btn" onclick="add()">添加</a>
                        <a href="/promotion_manage" class="layui-btn">刷新</a>
                    </div>
                </div>
            </form>
        </div>
        <div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>促销编号</th>
                        <th>商品名称</th>
                        <th>条形码</th>
                        <th>促销开始时间</th>
                        <th>促销结束时间</th>
                        <th>折扣</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="table">
                        <!--插入动态数据-->
                </tbody>
            </table>
        </div>
        <div id="paged" class="" style="text-align: center"></div>

        <script>
                //分页参数设置
                var startIndex = 0;//记录开始的索引
                var limitValue = 10;//每页显示的记录条数
                var currentPage = 1; //当前页数
                var dataLength = 0; //数据总条数
                var token = '@CSRF.getToken.value';
                $(document).ready(function () {
                    $("#add_form").hide();
                    $("#update_form").hide();
                    //ajax请求数据
                    getdata();
                    //点击搜索时 搜索数据
                    $("#searchButton").click(function () {
                        getdata();
                        currentPage = 1; //当点击搜索的时候，应该回到第一页
                        toPage();//然后进行分页的初始化

                    });
                    //分页渲染
                    toPage();
                });

                function getdata() {
                    $.ajax({
                        type: "post",
                        async: false,
                        url: "/promotion_page_list?csrfToken=" + token,
                        data: {
                            start: startIndex,
                            limit: limitValue,
                            searchValue:$("#searchValue").prop("value")
                        },
                        success: function (data, status) {
                            dataLength = data.total;
                            parse_table(data.data);
                        }
                    });
                }

                function parse_table(data) {
                    var rows = "";
                    $.each(data, function (v, o) {
                        rows += '<tr><td>' + o.strategyId + '</td>';
                        rows += '<td>' + o.merchName + '</td>';
                        rows += '<td>' + o.barcode + '</td>';
                        rows += '<td>' + o.startDate + '</td>';
                        rows += '<td>' + o.endDate + '</td>';
                        rows += '<td>' + o.discount + '</td>';
                        rows += '<td><a href="javascript:void(0)"  class="layui-btn layui-btn-xs update" onclick="update(' + o.strategyId + ')" style="margin-top: 10px">修改</a><span> </span>';
                        rows += '<a href="/strategy_delete/' + o.strategyId + '" class="layui-btn layui-btn-xs layui-btn-danger" style="margin-top: 10px">删除</a></td></tr>';
                    })
                    if (data.length > 0) {
                        $("#paged").show();
                        $("#table").html(rows);
                    } else {
                        $("#paged").hide();
                        $("#table").html("<br><tr><td colspan='13'><h1 style='width:100%;height: 30px;display: block;text-align: center'><span>数据库未录入!</span></h1></td></tr>");
                    }
                }

                function toPage() {
                    layui.use(['laypage'], function () {
                        var laypage = layui.laypage;
                        var limit = limitValue;
                        laypage.render({
                            elem: 'paged',
                            count: dataLength,
                            limit: limit,
                            curr: currentPage,
                            skip: true,
                            jump: function (obj, first) {
                                currentPage = obj.curr;
                                startIndex = (obj.curr - 1) * obj.limit;
                                if (!first) {
                                    getdata();
                                }
                            }
                        });
                    });
                }

                function add() {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            closeBtn: 2,
                            skin: 'layui-layer-lan',
                            type: 1 //Page层类型
                            ,
                            area: ['500px', '450px'],
                            title: false,
                            shade: 0.6 //遮罩透明度
                            ,
                            maxmin: true //允许全屏最小化
                            ,
                            anim: 5 //0-6的动画形式，-1不开启
                            ,
                            content: $("#add_form")
                        });
                    });
                }
                function update(strategyId) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        var barcode = "";
                        var startDate = "";
                        var endDate = "";
                        var discount = "";

                        $.ajax({
                            type: "post",
                            async: false,
                            url: "/strategy_get?csrfToken=" + token,
                            data: {
                                id: strategyId
                            },
                            success: function (strategy, status) {
                                barcode = strategy.barcode;
                                startDate = strategy.startDate;
                                endDate = strategy.endDate;
                                discount = strategy.discount;
                            }
                        });

                        $("#update_form").find("input[name='strategyId']").prop("value", strategyId);
                        $("#update_form").find("input[name='barcode']").prop("value", barcode);
                        $("#update_form").find("input[name='startDate']").prop("value", startDate);
                        $("#update_form").find("input[name='endDate']").prop("value", endDate);
                        $("#update_form").find("input[name='discount']").prop("value", discount);

                        layer.open({
                            closeBtn: 2,
                            skin: 'layui-layer-lan',
                            type: 1 //Page层类型
                            ,
                            area: ['500px', '450px'],
                            title: false,
                            shade: 0.6 //遮罩透明度
                            ,
                            maxmin: true //允许全屏最小化
                            ,
                            anim: 5 //0-6的动画形式，-1不开启
                            ,
                            content: $("#update_form")
                        });
                    });
                }
        </script>
            <!--添加表单-->
        <div id="add_form" style="text-align: center;
            padding: 40px;">
            <form action="/strategy_add" method="post" class="layui-form  layui-form-pane">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;
                    width: 300px;">
                    <legend>促销信息</legend>
                </fieldset>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">条形码</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="barcode" type="text" placeholder="请输入商品条形码" value="" />
                    </div>
                </div>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input date" name="startDate" type="text" id="start_date" value="" />
                    </div>
                </div>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">结束日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input date" name="endDate" type="text" id="end_date" value="" />
                    </div>
                </div>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">折扣</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="discount" type="text" placeholder="请输入折扣" value="" />
                    </div>
                </div>

                @CSRF.formField
                <div class="layui-form-item" style="text-align: center">
                    <input type="submit" class="layui-btn" value="提交" /></input>
                </div>
            </form>
            <script>
                    layui.use('laydate', function () {
                        var laydate = layui.laydate;
                        laydate.render({
                            elem: '#start_date' //指定元素
                        });
                        laydate.render({
                            elem: '#end_date' //指定元素
                        });
                    });
            </script>
        </div>

        <div id="update_form" style="
            padding: 40px;">
            <form action="/strategy_update" method="post" class="layui-form  layui-form-pane">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;
                    width: 300px;">
                    <legend>促销信息</legend>
                </fieldset>
                <input type="hidden" name="strategyId" value="">

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">条形码</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="barcode" type="text" placeholder="请输入商品条形码" value="" />
                    </div>
                </div>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">开始日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="startDate" type="text" id="new_start_date" value="" />
                    </div>
                </div>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">结束日期</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="endDate" type="text" id="new_end_date" value="" />
                    </div>
                </div>

                <div class="layui-form-item" style="display: inline-block">
                    <label class="layui-form-label">折扣</label>
                    <div class="layui-input-inline">
                        <input class="layui-input" name="discount" type="text" placeholder="请输入折扣" value="" />
                    </div>
                </div>

                @CSRF.formField
                <div class="layui-form-item" style="text-align: center">
                    <input type="submit" class="layui-btn" value="提交" /></input>
                </div>
            </form>
            <script>
                    layui.use('laydate', function () {
                        var laydate = layui.laydate;
                        laydate.render({
                            elem: '#new_start_date' //指定元素
                        });
                        laydate.render({
                            elem: '#new_end_date' //指定元素
                        });
                    });
            </script>
        </div>
    </body>
}
